body {
  background-color: #000000;
  color: #ffffff;
  box-sizing: border-box;
}

.wrapper {
  width: 80%;
  max-width: 1250px;
  margin: 0 auto;
}

section {
  padding: 108px 0;
}

.common-title {
  background: rgb(255, 51, 137);
  background: linear-gradient(
    -50deg,
    rgba(255, 51, 137, 1) 0%,
    rgba(230, 79, 31, 1) 100%
  );
  background: linear-gradient(
    to right,
    #ff0000,
    #9932cc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  font-weight: bold;
  margin-bottom: 7rem;
  text-shadow: rgba(255, 44, 44, 0.23) -13px 0px 15px,
    rgba(253, 42, 42, 0.23) 2px 1px 25px, rgba(253, 42, 42, 0.23) 28px 1px 15px,
    rgba(251, 40, 40, 0.23) 3px 2px 25px;
}

.introducion {
  width: 100%;
}

.about-us p {
  text-align: center;
}

.content-top .lg-txt {
  font-size: 53px;
  line-height: 62.64px;
}

.content-top .sm-txt {
  font-size: 33px;
  line-height: 6.34px;
}

.about-us .common-title {
  font-size: 112px;
}

.winner-gallery {
  margin: 0 -1rem;
}

.winner-item {
  width: 30%;
  margin: 0 1rem 1rem;
}

.section-line {
}

.product-section {
  column-width: 500px;
  column-gap: 5px;
  padding: 5px;
}

.product-section img {
  width: 100%;
  cursor: pointer;
}

.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  background: #7f8c8d;
  perspective: 1000;
}

.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(20px);
  opacity: 0.5;
  background-position: center;
  background-size: cover;
}

.lightbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  max-height: 95vh;
  max-width: calc(95vw - 100px);
  transition: 0.8s cubic-bezier(0.7, 0, 0.4, 1);
  transform-style: preserve-3d;
}

/*.lightbox:hover img{
  transform: translate(-50%, -50%) rotateY(180deg);
}*/

[class^="arrow"] {
  height: 200px;
  width: 50px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

[class^="arrow"]:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 15px;
  height: 15px;
}

.arrowr {
  right: 0;
}

.arrowr:after {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.arrowl {
  left: 0;
}

.arrowl:after {
  border-left: 1px solid white;
  border-top: 1px solid white;
}

.close {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.4);
  margin: 20px;
  cursor: pointer;
}

.close:after,
.close:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 100%;
  background: #e74c3c;
}

.close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.title {
  font-size: 20px;
  color: #000;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
}
